<div id="<%= dom_id workout %>">
  <p>
    <strong>Title:</strong>
    <%= workout.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workout.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= workout.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= workout.date %>
  </p>

</div>
