<div id="<%= dom_id exercise_session %>">
  <p>
    <strong>Workout:</strong>
    <%= exercise_session.workout_id %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= exercise_session.exercise_id %>
  </p>

  <p>
    <strong>Completed sets:</strong>
    <%= exercise_session.completed_sets %>
  </p>

  <p>
    <strong>Completed reps:</strong>
    <%= exercise_session.completed_reps %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= exercise_session.weight %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= exercise_session.duration %>
  </p>

</div>
