<p style="color: green"><%= notice %></p>

<%= render @exercise_session %>

<div>
  <%= link_to "Edit this exercise session", edit_exercise_session_path(@exercise_session) %> |
  <%= link_to "Back to exercise sessions", exercise_sessions_path %>

  <%= button_to "Destroy this exercise session", @exercise_session, method: :delete %>
</div>
